/*======================================
  -Job Application Task - StuntCoders
  -Mobile First Approach
  -Author: Boris Perkovic
  -Location: Belgrade
  -E-mail: borisperkovic89@yahoo.com
 ====================================== */
/* General and Typography */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'PT Sans', sans-serif;
  padding: 0 10px; }

h1,
h2,
h4 {
  font-family: 'PT Serif', serif; }

/*======================================
  HEADER SECTION
====================================== */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  height: 50vh;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header .headings h1,
  .header .headings p {
    text-align: center;
    color: #fff; }
  .header .headings h1 {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 4px; }
    @media (min-width: 568px) and (max-width: 767px) and (orientation: landscape) {
      .header .headings h1 {
        font-size: 4rem; } }
  .header .headings p {
    letter-spacing: 1px;
    font-weight: 700; }
    @media (min-width: 568px) and (max-width: 767px) and (orientation: landscape) {
      .header .headings p {
        font-size: 1.8rem; } }
  @media (min-width: 568px) and (max-width: 767px) and (orientation: landscape) {
    .header {
      height: 100vh; } }

/*======================================
  LEAD SECTION
====================================== */
.lead {
  padding: 10% 3%;
  text-align: center;
  letter-spacing: 1px; }

 /*======================================
  MAIN SECTION
====================================== */
.main {
  /* step one section */
  /* step two section */
  /* step three section */ }
  .main article div {
    margin: 10px; }
  .main article .numbers {
    background-color: #86ddf3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; }
  .main article .articlesText {
    text-align: center; }
  .main article .articlesText h3 {
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .main .step-1 .bgImage {
    background-image: url("../images/step-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; }
  .main .step-2 .bgImage {
    background-image: url("../images/step-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; }
  .main .step-3 .bgImage {
    background-image: url("../images/step-3-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; }

/*======================================
  FOOTER SECTION
====================================== */
.footer div {
  margin: 10px;
  text-align: center; }
.footer span {
  font-size: 3rem;
  color: #86ddf3; }
.footer .bgImage {
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }

/*# sourceMappingURL=main.css.map */
